.packageSection {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
  padding: 2%;
}

.packageCard {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 604px;
  border-radius: 10px;
  align-self: flex-end;
  justify-content: space-evenly;
}

.card2 {
  border-bottom: 0.2px solid grey;
  padding: 32px;
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.packageButton {
  width: 250px;
  margin: 5%;
  font-weight: 550;
}

@media screen and (max-width: 720px) {
  .packageSection {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    padding: 2%;
    margin-right: auto;
    margin-left: auto;
  }
  .packageCard {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: auto;
    max-width: 250px;
    max-height: 704px;
    border-radius: 10px;
    align-self: flex-end;
    justify-content: space-evenly;
    margin-bottom: 5%;
  }

  .packageButton {
    width: 150px;
    margin: 5%;
    font-weight: 550;
  }
  
}
