.section2 {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  margin-top: 5%;
}
.sectionHeadingSecond {
  font-size: 2.2em;
  font-weight: bold;
}

.label {
  width: 70px;
  height: 10px;
  background: #f28033;
  border-radius: 5px;
  margin-top: 2%;
}

@media screen and (max-width: 720px) {
  .section2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  .sectionHeading {
    font-size: 3em;
    font-weight: "bold";
    margin-bottom: 15%;
    margin-top: 15%;
  }

  .label {
    margin: 5%;
  }
}
